  *{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
  }

  .home {
    display: flex;
    align-items: center;
    height: 89vh; 
    padding: 0 20px;
    background-color: #333;
  }
  .para{
    display: flex;
    color: bisque;
    text-align: justify;
    font-size: large;
  }

   .whatsapp{
    padding: 5px;
    width: 100%;
    background-color: #043c20;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
   }
   .wlogo{
    padding-top: 5px;
   }
   .para1{
    color: blueviolet;
   }
   .para2{
    color: rgb(226, 43, 150);
   }
  
  .content {
    color: #ffffff;
    max-width: 60%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .mlsa {
    font-size: 20px;
    font-weight: 900;
    color: aqua;
    text-decoration: underline;
  }
  
  .logoContainer {
    max-width: 100%;
    display: block;
  }

  .socialIcons {
    justify-content: center;
  }
  
  .logo {
    max-width: 70%;
    height: auto;
    color: rgb(121, 68, 133);
    margin-right: 10px;
    margin-left: 100px;
  }
  
  .socialIcons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-content: center;
  }
  
  .icon {
    color: #c6e579;
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .banner{
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-left: 145px;
    color: rgba(0, 100, 240, 0.984);
  }
  
  .icon:hover {
    color: #ffffff; /* LinkedIn blue */
    transform: scale(1.02);
  }
  
  @media (max-width: 768px) {
    .home {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 135vh;
    }
  
    .content, .logoContainer {
      max-width: 100%;
    }
  
    .logoContainer {
      display: flex;
      margin-top: 20px;
      /* justify-content: center; */
    }
    .banner{
      display: flex;
      margin: auto;
    }
  
    .socialIcons {
      justify-content: center;
    }
    .logo {
        max-width: 50%;
        height: auto;
        margin: auto;
    }
  }