.contactSection {
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.contact, .additionalInfo {
  background-color: rgb(169, 160, 148);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact:hover, .additionalInfo:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 16px;
}

h3 {
  margin-top: 20px;
}

.contactForm label {
  display: block;
  margin-bottom: 12px;
  transition: color 0.3s ease;
}

.contactForm input, .contactForm textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 2px solid #291f1f;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contactForm input:focus, .contactForm textarea:focus {
  border-color: #141c27;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

.contactForm button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  font-weight: 700;
  font-size: x-large;
  background-color: #7c7f82;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contactForm button:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

.focused {
  color: #690606;
}

.whatsapp button, .linkedin button, .address button {
  padding: 10px 15px;
  width: 100%;
  font-weight: 800;
  background-color: #25d366;
  color: #251b1b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.whatsapp button:hover {
  background-color: #128c7e;
  transform: scale(1.03);
}

.linkedin button {
  background-color: #0077b5;
}
.address button {
  background-color: #d4e636;
}

.linkedin button:hover {
  background-color: #005582;
  transform: scale(1.03);
}

.address p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contactSection {
    grid-template-columns: 1fr;
  }
}