.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0; /*Reduce padding */
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 30vh; Full viewport height */
}

.content {
  flex: 1;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Padding for breathing space */
}

.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 15px; /* Reduce gap */
  margin-top: 10px; /* Add some space above the icons */
}

.link {
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.link:hover {
  color: #0077b5; /* LinkedIn blue */
  transform: scale(1.2);
}

.description {
   margin-top: 10px; /*Reduce margin */
}

.description p {
  margin: 5px 0;
}

.love {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.heartIcon {
  color: #fa07a5;
}

@media (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  .content p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}