/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #191818;
  color: #fff;
  height: 12vh;
}
.navslogo1{
  width: 100%;
  max-width: 75px;
  height: auto; 
  margin-left: 15px;
}
.navslogo2{
  width: 100%;
  max-width: 230px;
  height: auto; 
  /* margin-left: 20px; */
}
.hov:hover {
  transform: scale(1.08);
  font-weight: 600;
  text-decoration: underline;
  color: #0058fc; /* LinkedIn blue */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin: 0 10px;
}

.navLinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
/* ----------------------------------Down Section work needed------------- */
.show {
  display: flex;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* For larger screens, show the menu horizontally and hide the burger icon */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
  }
  .nav-links li {
    text-align: left;
  }
}

/* For mobile screens, show the burger icon and hide the full menu initially */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
/* -----------------------------Up section work needed---------------------------- */

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 37px;
    left: 0;
    width: 80%;
    background-color: #2c2a2a;
    text-align: center;
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}