/* .App {
    text-align: center;
  }

.event-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  form {
    margin: 20px 0;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  } */